<!DOCTYPE html>
<html>
<head>
  <title>OPEN CONTRACT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.png') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">


</head>
<body onload="hideAddressBar()">
  <div class="text">
   <h1 style="font-family: Calibri, sans-serif; font-size: 50px; font-weight: bold; font-style: bold;text-align: center;">LANDING</h1>
    <h2 style="font-family: Calibri, sans-serif; font-size: 30px; font-weight: regular; font-style: bold;text-align: center;">OPEN CONTRACT</h2>
   
  </div>
  
  <div class="container">
  
    <ul class="icons">
      <li><a href="{{ url_for('folder_index') }}" target="_blank" class="Prepare Contract"><img class="icon" src="{{ url_for('static', filename='prepare.png') }}" alt="Prepare Contract"></a></li>
      
      <li><a href="/upload" target="_blank" class="predict"><img class="icon" src="{{ url_for('static', filename='predict.png') }}" alt="predict"></a></li>
     
      <li><a href="/launch-program" target="_blank" class="hyperledger"><img class="icon" src="{{ url_for('static', filename='hyperledger.png') }}" alt="hyperledger"></a></li>
    
    </ul>
    </div>
    <div class="form-container" style="position: fixed; left: 0; bottom: 1rem; width: 100%; text-align: center;">
  <a href="/logout">
    <button type="submit" class="login__button"><i class="fas fa-upload"></i> EXIT</button>
  </a>
</div>
<script>
    function hideAddressBar() {
      if (window.innerHeight > window.innerWidth) {
        // Portrait orientation, assume mobile device
        window.scrollTo(0, 1);
      }
    }
  </script>
  
</body>
</html>

